/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 50vh;
}

nav {
  background-color: #0a7234;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  flex: 1;
  /* background-color: rgb(191, 239, 223); */
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  /* background-color: aquamarine; */
}

.text-content {
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
}

h2 {
  font-size: 28px;
  color: #333;
  text-align: center;
}

h3 {
  font-size: 20px;
  color: #333;
  text-align: center;
}

h4 {
  font-size: 16px;
  color: #333;
  text-align: center;
}

button {
  /* color: #000;*/
  /* background-color: rgb(56, 211, 120);
  padding: '10px 20px', */

  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.image-content {
  width: 50%;
  box-sizing: border-box;
}

.image2-content {
  width: 40%;
  box-sizing: border-box;
}

.service-section {
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-content: center;

  height: 50vh;
  width: 95vw;
}

.service {
  width: 40%;
  box-sizing: border-box;
  background-color: #edf1f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  margin-top: 5%;
}
.service:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
}
.service-section > .benefits-section {
  display: flex;
  flex-direction: row; /* Display items vertically */
  justify-content: space-around;
  width: 70%;
}

.service h5 {
  font-size: 20px;
  color: #333;
  margin-top: 5%;
  align-content: center;
}

.service p {
  margin-top: 15%;
  font-size: 16px;
  color: #666;
}

.service.selected {
  border: 2px solid #007bff; /* Change border color for selected service */
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup button {
  margin-top: 10px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.who-we-are-section,
p {
  margin-left: 1%;

  padding: 2%;
}
.who-we-are-section,
p,
h3 {
  text-align: left;
}

/* for contact us */
.contact-section {
  text-align: center; /* Align content in the center */
}

.contact-section h2 {
  margin-bottom: 20px; /* Add some space below the heading */
}

.contact-section p {
  font-size: 18px; /* Adjust paragraph font size */
  text-align: center;
}

.contact-section ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center; /* Center items horizontally */
}

.contact-section ul li {
  margin: 0 10px; /* Add space between items */
}

.contact-section ul li:first-child::after {
  content: "|"; /* Add separator between email and phone */
  margin: 0 10px; /* Adjust space around separator */
}
