* {
    font-family: Inknut Antiqua, serif;
    margin: 0;
    padding: 0;
}



/* Layout Styles */
.center-text {
    text-align: center;
}

.flex {
    display: flex;
}

.column-direction {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.even-steven {
    justify-content: space-evenly;
}

.align-center {
    align-content: center;
}

.self-center {
    align-self: center;
}

.w-60 {
    flex-basis: 55%;
}

.w-30 {
    flex-basis: 40%;
}

/* Card Styles */
.card-styles {
    margin-top: 10%;
    background: #fff;
    border-radius: 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* Typography Styles */
.para-font-size {
    font-size: 13px;
}

.heading-font-size {
    font-size: 16px;
}

/* Form Styles */
input {
    border-radius: 2%;
    outline: none;
}

/* Padding Styles */
.p-10 {
    padding: 10%;
}
