.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  align-items: center; /* Center vertically */
  min-height: 80vh;
  margin-bottom: 2%;
  margin-left: 5%;
}
h2 {
  font-size: 35px;
  font-weight: bold;
  color: hsl(128, 49%, 25%);
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image img {
  width: 38vw;
  /* max-width: none; */
  display: block;
  height: 90vh;
  /* background-color: #f0f5f0; */
  background-image: url("../img/seller.jpg");
  background-repeat: no-repeat;
  display: flex;
  background-position: center center;
  margin-left: -2%;
  margin-top: 7%;
  object-fit: contain;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
  border: 1px solid white;
  border-radius: 2rem;
}

.form-container {
  background-color: white;
  color: rgb(2, 2, 40);
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.formdetails {
  border: 1px solid white;
  border-radius: 2rem;
  margin-top: 4%;
  padding: 20px;
  width: 30vw;
  height: 85vh;
  min-width: 30vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 2%;
}

.input {
  color: rgb(30, 4, 51);
  width: 100%;
  background-color: white;
  border: 2px solid #ccc;
  padding: 1%;
  display: inline-block;
  font-size: 1.2rem;
  /* height: 30px; */
  height: 4vh;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

.submit-button {
  color: rgb(53, 62, 236);
  width: 100%;
  background-color: rgb(27, 14, 174);
  outline: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: auto;
  border-radius: 0.5rem;
  /* margin-top: 25px; */
  margin-bottom: 2%;
}

.form-header {
  margin-top: -1%;
}

.error {
  color: rgba(184, 53, 53, 0.702);
  font-weight: bold;
}

.position {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.position label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.position input[type="radio"] {
  margin-right: 5px;
}

.position span {
  font-size: 16px;
  user-select: none;
}

label1 {
  color: #2019e5;
  font-weight: bold;
}

/* @media (max-width: 768px) {
} */
@media screen and (max-width: 768px) {
  /* Adjust styles for tablet-sized screens */
  .image img {
    display: none;
  }

  .form-container {
    width: 80vw; /* Adjust width for tablet screens */
    align-items: center;
    margin-left: -9%;

    height: auto; /* Remove fixed height for better responsiveness */
  }

  .formdetails {
    width: 85vw; /* Adjust width for tablet screens */
    height: auto; /* Remove fixed height for better responsiveness */
    min-width: auto; /* Remove min-width for better responsiveness */
  }
}
